.tabs {
  font-family: 'Futura-Medium';

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Futura-Medium';

    &-light {

      .tabs_item.active .tabs_link {
        color: #D91AA2;
        border-bottom-color: #D91AA2;
      }

      .tabs_link {
        color: #7E7E7E;

        &:hover {
          color: #D91AA2;
        }
      }
    }

    &-fixed {

      .tabs_link {
        padding-left: 0;
        padding-right: 0;
        width: 130px;
        min-width: 130px;
      }
    }
  }

  &_item {
    margin: 0;
    padding: 0;

    &.active {

      .tabs_link {
        opacity: 1;
        border-bottom-color: #ffffff;
        color: #fff;
      }
    }
  }

  &_link {
    display: flex;
    opacity: .4;
    font-size: 18px;
    line-height: 46px;
    color: #ffffff;
    letter-spacing: 0;
    padding: 0 20px;
    border-bottom-width: 2px;


    &:hover {
      opacity: 1;
      color: #ffffff;
    }
  }
}
