.services {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0C0D12;

  &_wrap {
    max-width: 1120px;
    margin: 0 auto;
  }

  .headline:before {
    content: 'Services.';
  }

  &_menu {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &_group {
    position: relative;
  }

  &_nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-width: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #D91AA2;
    box-shadow: 0 2px 4px 0 rgba(217, 26, 162, .4);
    z-index: 10;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    transition: all .3s ease;
    cursor: pointer;

    &.ghost {
      opacity: .6;

      &:hover { opacity: 1; }
    }

    svg { position: relative; }

    &-left {
      left: -28px;

      svg { top: 2px; }

      &:hover {
        color: #D91AA2;
        border-color: darken(#D91AA2, 20%);
      }
    }

    &-right {
      right: -28px;

      svg { top: -2px; }

      &:hover {
        color: #D91AA2;
        border-color: darken(#D91AA2, 20%);
      }
    }
  }

  &_item {
    background-color: #3A3F54;
    box-shadow: 0 6px 25px 0 #000000;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_box {
    padding: 100px 50px;
  }
}
