<!-- begin .services -->
<section class="services">
  <!-- begin .services_wrap -->
  <div class="services_wrap">

    <!-- begin .headline -->
    <div class="headline headline-dark">
      <!-- begin .headline_title -->
      <div class="headline_title">
        <h2>Services<span class="text-pink">.</span></h2>
      </div>
      <!-- end .headline_title -->
      <!-- begin .headline_description -->
      <div class="headline_description">
        <p>A 360° international digital agency at your fingertips</p>
      </div>
      <!-- end .headline_description -->
    </div>
    <!-- end .headline -->

    <!-- begin .services_menu -->
    <div class="services_menu">
      <!-- begin .tabs-list -->
      <ul class="tabs-list">
        <li class="tabs_item active"><a href="" class="tabs_link">Trackers</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Advisors</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Bitcointalk</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Bounty</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Telegram</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Investors</a></li>
        <li class="tabs_item"><a href="" class="tabs_link">Pools</a></li>
      </ul>
      <!-- end .tabs-list -->
    </div>
    <!-- end .services_menu -->

  </div>
  <!-- end .services_wrap -->
</section>
<!-- end .services -->
