.services {
  background-color: #0C0D12;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;

  @media #{$lg} {
    overflow: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &_wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media #{$lg} {
      max-width: 1120px;
      padding: 0;
    }
  }

  .headline:before {
    content: 'Services.';
  }

  &_menu {
    padding-top: 20px;
    padding-bottom: 40px;

    @media #{$lg} {
      padding-top: 120px;
      padding-bottom: 60px;
    }
  }

  &_group {
    position: relative;
  }

  &_nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-width: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #D91AA2;
    box-shadow: 0 2px 4px 0 rgba(217, 26, 162, .4);
    z-index: 10;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    transition: all .3s ease;
    cursor: pointer;

    &.ghost {
      opacity: .35;

      &:hover { opacity: 1; }
    }

    svg { position: relative; }

    &-left {
      left: -14px;

      svg { top: 2px; }

      &:hover {
        color: #D91AA2;
        border-color: darken(#D91AA2, 20%);
      }

      @media #{$lg} {
        left: -28px;
      }
    }

    &-right {
      right: -14px;

      svg { top: -2px; }

      &:hover {
        color: #D91AA2;
        border-color: darken(#D91AA2, 20%);
      }

      @media #{$lg} {
        right: -28px;
      }
    }
  }

  &_item {
    background-color: #3A3F54;
    box-shadow: 0 6px 25px 0 #000000;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Futura-Medium';
  }

  &_box {
    padding: 45px 40px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    color: #ffffff;
    flex-direction: column;

    @media #{$lg} {
      flex-direction: row;
      padding: 120px 100px 110px 60px;
    }
  }

  &_theses {
    flex-basis: 100%;
    min-width: 100%;
    // margin-right: 40px;

    @media #{$lg} {
      flex-basis: 400px;
      min-width: 400px;
    }
  }

  &_headline {
    position: relative;
    text-align: left;
    font-family: 'Futura-Medium';
    margin-top: 20px;
    margin-bottom: 10px;

    @media #{$lg} {
      margin-top: 0;
      margin-bottom: 35px;
    }

    &:before {
      position: absolute;
      content: 'trackers';
      opacity: .32;
      font-size: 126px;
      color: #D91AA2;
      letter-spacing: 0;
      line-height: 90px;
      top: -68px;
      left: -79px;
      z-index: 0;
    }

    &-title {
      position: relative;
      z-index: 1;
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 28px;
      color: #FFFFFF;
      letter-spacing: 0;

      @media #{$lg} {
        margin: 0 0 22px 0;
      }
    }

    &-info {
      position: relative;
      z-index: 1;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 22px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 35px;

      @media #{$lg} {
        margin-top: 20px;
      }
    }
  }

  &_body {
    opacity: .9;

    p {
      font-size: 18px;
      color: #B2B2B2;
      letter-spacing: 0;
      text-align: justify;
      line-height: 30px;

      &:last-child { margin-bottom: 0; }
    }
  }

  &_action {
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all .3s ease;

    @media #{$lg} {
      margin-top: 60px;

      .button { opacity: .6; }

      &:hover .button {
        opacity: 1;
      }
    }
  }
}
