.services {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0C0D12;

  &_wrap {
    max-width: 1120px;
    margin: 0 auto;
  }

  .headline:before {
    content: 'Services.';
  }

  &_menu {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &_item {
    background-color: #3A3F54;
    box-shadow: 0 6px 25px 0 #000000;
    border-radius: 50px;
  }

  &_box {
    padding: 100px 50px;
  }
}
