$form-control-height:    56px;

*::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

*::placeholder-shown {
  color: $placeholder-color;
}

::selection {
  background: $selection-bg;
  color:      $selection-color;
}

input,
textarea,
button {
  outline: none;
  font-family: $font-family-base;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

textarea {
  hyphens: auto;
}

.form-group,
.form-actions {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  font-family: 'Futura-Medium';

  &:last-child {
    margin-bottom: 0;
  }
}

.form-actions {

  &.to-right {
    justify-content: flex-end;
  }
}

.form-control {
  display: block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: 'PTSans-Caption';
  font-size: 16px;
  color: #1C2030;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  transition: .25s ease;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(28, 32, 48, .3);
  padding: 13px 0 14px 0;
  height: $form-control-height;

  &:hover {
    border-bottom-color: #1C2030;
  }
}

textarea.form-control {
  min-height: 248px;
  resize: none;
}

.form-service-list {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.form-service {
  height: $form-control-height;
  margin-right: 15px;
  border: 1px solid #D91AA2;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    border-color: darken(#D91AA2, 15%);

    .form-service_remove {
      background-color: darken(#D91AA2, 15%);
    }
  }

  &:last-child { margin-right: 0; }

  &_name {
    padding: 9px 19px 10px 19px;
    font-size: 14px;
    line-height: 16px;
    color: #D91AA2;
    letter-spacing: 0;
  }

  &_remove {
    margin-left: auto;
    background-color: #D91AA2;
    height: 55px;
    flex-basis: 55px;
    width: 55px;
    min-width: 55px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all .25s ease;
  }

  &-add {
    justify-content: center;
    opacity: .3;
    border-color: #1C2030;
    color: #1C2030;

    &:hover {
      opacity: 1;
      border-color: #00B96E;
      color: #00B96E;
    }
  }
}

.form-checkbox {
  font-family: 'Futura-Medium';
  font-size: 17px;
  line-height: 17px;
  color: #D91AA2;
  letter-spacing: 0;
  transition: all .25s ease;

  .checkbox { display: none; }

  .checkbox-label { margin-left: 16px; }

  .checkbox-custom {
    position: relative;
    width: 27px;
    height: 27px;
    border: 2px solid #D91AA2;

    &:before {
      transition: all .15s ease;
      opacity: 0;
      display: block;
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background: #D91AA2;
      border-radius: 2px;
    }
  }

  .checkbox-custom,
  .checkbox-label {
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox:checked + .checkbox-custom:before { opacity: 1; }
}
