.plans {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #fff;

  &_wrap {
    max-width: 1120px;
    margin: 0 auto;
  }

  .headline:before {
    content: 'Plans.';
  }

  &_menu {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &-cards {
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }
}

.plans-card {
  flex-basis: 33%;
  border: 2px solid rgba(68, 88, 107, .07);
  font-family: 'Futura-Medium';

  &_box {
    height: 100%;
    padding: 25px 50px;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: column;
  }

  &_headline {
    margin-bottom: 25px;
    text-align: center;
  }

  &_name {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 24px;
    color: #1C2030;
    letter-spacing: 0;
    text-align: center;
  }

  &_price {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #D91AA2;
    letter-spacing: 0;
  }

  &_body {
    height: 100%;
    font-size: 15px;
    color: #1C2030;
    letter-spacing: 0;
    text-align: justify;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    p {
      opacity: .7;
      font-size: 15px;
      color: #1C2030;
      letter-spacing: 0;
      text-align: justify;
      margin-bottom: 0;
    }

    .more-link {
      padding-top: 30px;
      margin-top: auto;
    }
  }
}
