<!-- begin .plans -->
<section
  id="plans"
  class="plans emerge"
  data-expose="true"
>
  <!-- begin .plans_wrap -->
  <div class="plans_wrap">

    <!-- begin .headline -->
    <div class="headline">
      <!-- begin .headline_title -->
      <div class="headline_title">
        <h2>Plans<span class="text-pink">.</span></h2>
      </div>
      <!-- end .headline_title -->
      <!-- begin .headline_description -->
      <div class="headline_description">
        <p>Pay only for what you need</p>
      </div>
      <!-- end .headline_description -->
    </div>
    <!-- end .headline -->

    <!-- begin .plans_menu -->
    <div class="plans_menu">
      <!-- begin .tabs-list -->
      <ul class="tabs-list tabs-list-light tabs-list-fixed">
        <li class="tabs_item active"><a href="javascript:void(0);" class="tabs_link">Basic</a></li>
        <li class="tabs_item"><a href="javascript:void(0);" class="tabs_link">Packages</a></li>
        <li class="tabs_item"><a href="javascript:void(0);" class="tabs_link">Premium</a></li>
      </ul>
      <!-- end .tabs-list -->
    </div>
    <!-- end .plans_menu -->

    <!-- begin .plans-cards -->
    <div class="plans-cards">
      <!-- begin .plans-card -->
      <div class="plans-card">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">10 Reliable Advisors</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">4&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>We have a massive database of trusted and reliable advisors to fit your project's needs who will be paid in your ICO's tokens.  This is great for any blockchain company that needs to grow a team that supports your project, quickly, and at a low cost.</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-1">
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->
      <!-- begin .plans-card -->
      <div class="plans-card is-select">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">Bitcointalk Management</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">15&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>Bitcointalk is the #1 Bitcoin and Cryptocurrency forum in the world. We create more activity on Bitcointalk Forum generating awareness and buzz (Minimum 20,000 views on the ANN thread, plus 50 extra pages).</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-2" checked>
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->
      <!-- begin .plans-card -->
      <div class="plans-card">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">Bounty Services</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">15&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>Bounty campaigns reaching a minimum of 1,500 verified and active bounty members.</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-3">
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->

      <!-- begin .plans-card -->
      <div class="plans-card">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">Additional Trackers</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">3&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>Submit your ICOs information into TOP 250 Trackers (We work also with Japanese, Korean, Turkish, Russian, Brazilian trackers.) You will obtain a lot of listings free of charge or in exchange for Tokens.</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-4">
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->
      <!-- begin .plans-card -->
      <div class="plans-card">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">Telegram Support</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">8&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>Telegram support in English, Japanese, Korean, and Russian. Invite 50-70 investors daily. 24/7 support.</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-5">
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->
      <!-- begin .plans-card -->
      <div class="plans-card">
        <!-- begin .plans-card_box -->
        <div class="plans-card_box">
          <!-- begin .plans-card_headline -->
          <div class="plans-card_headline">
            <!-- begin .plans-card_name -->
            <div class="plans-card_name">Investor relations</div>
            <!-- end .plans-card_name -->
            <!-- begin .plans-card_price -->
            <div class="plans-card_price">10&thinsp;ETH</div>
            <!-- end .plans-card_price -->
          </div>
          <!-- end .plans-card_headline -->
          <!-- begin .plans-card_body -->
          <div class="plans-card_body">
            <p>We will reach the ICOholder's subscribers (+43,000) via e-mail news bulletins and social media channels.  Additionally our managers will send your one-pager to our network of known investors.</p>
            <div class="more-link">
              <a href="javascript:void(0);" class="button button-light-link button-with-icon">
                <span class="button_text">Read More</span>
                <span class="button_icon">
                  <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
                </span>
              </a>
            </div>
          </div>
          <!-- end .plans-card_body -->
          <!-- begin .plans-card_footer -->
          <div class="plans-card_footer">
            <label class="form-checkbox">
              <input class="checkbox" type="checkbox" name="card-6">
              <span class="checkbox-custom"></span>
              <span class="checkbox-label">Order Advisors Package</span>
            </label>
          </div>
          <!-- end .plans-card_footer -->
        </div>
        <!-- end .plans-card_box -->
      </div>
      <!-- end .plans-card -->
    </div>
    <!-- end .plans-cards -->

  </div>
  <!-- end .plans_wrap -->
</section>
<!-- end .plans -->
