.platform {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #fff;

  &_wrap {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;

    @media #{$lg} {
      padding: 0;
    }
  }

  .headline:before {
    content: 'Platform.';
  }

  &-info {
    padding-top: 30px;
    font-family: 'Futura-Medium';
    font-size: 18px;
    color: #0C0D12;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;

    p {
      opacity: .7;
      font-family: 'Futura-Medium';
      font-size: 18px;
      color: #0C0D12;
      letter-spacing: 0;
      text-align: justify;
      line-height: 30px;

      &:last-child { margin-bottom: 0; }
    }
  }

  &-inmedia {
    padding-top: 20px;

    @media #{$lg} {
      padding-top: 80px;
    }
  }
}

.media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;

  @media #{$lg} {
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &_item {
    margin-right: 15px;
    margin-bottom: 15px;

    @media #{$lg} {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &_link {
    border-bottom: 0;

    img {
      vertical-align: bottom;
    }
  }
}
