<!-- begin .statistics -->
<div class="statistics">
  <!-- begin .statistics_wrap -->
  <div class="statistics_wrap">
    <!-- begin .statistics-list -->
    <div class="statistics-list">

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">112</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">ICO Clients In the last 6 months</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">$2.86 bln</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">The total amount of income for our clients in 2017</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">$25.58 mln</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">The average sum raised by our clients projects</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

    </div>
    <!-- end .statistics-list -->
  </div>
  <!-- end .statistics_wrap -->
</div>
<!-- end .statistics -->
