<!-- begin .statistics -->
<section
  id="statistics"
  class="statistics emerge"
  data-expose="true"
>
  <!-- begin .statistics_wrap -->
  <div class="statistics_wrap">
    <!-- begin .statistics-list -->
    <div class="statistics-list emerge">

      <!-- begin .statistics_item -->
      <div
        class="statistics_item emerge"
        data-effect="relax"
        data-origin="bottom"
        data-hold="398"
      >
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">112</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">ICO Clients In the last 6 months</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div
        class="statistics_item emerge"
        data-effect="relax"
        data-origin="bottom"
        data-hold="265"
      >
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">$2.86 bln</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">The total amount of income for our clients in 2017</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div
        class="statistics_item emerge"
        data-effect="relax"
        data-origin="center"
        data-hold="192"
      >
        <!-- begin .statistics_box -->
        <div class="statistics_box">
          <!-- begin .statistics_value -->
          <div class="statistics_value">$25.58 mln</div>
          <!-- end .statistics_value -->
          <!-- begin .statistics_description -->
          <div class="statistics_description">The average sum raised by our clients projects</div>
          <!-- end .statistics_description -->
        </div>
        <!-- end .statistics_box -->
      </div>
      <!-- end .statistics_item -->

    </div>
    <!-- end .statistics-list -->
  </div>
  <!-- end .statistics_wrap -->
</section>
<!-- end .statistics -->
