.footer {
  padding: 60px 90px 40px 90px;
  background-color: #11111B;
  color: rgba(255, 255, 255, .3);
  position: relative;

  &_wrap {
    max-width: 1180px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }

  &_bg,
  &_logo {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  &_logo {
    bottom: 34px;

    svg { margin-right: 5px; }
  }
}

.footer-company {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;

  &_about {
    font-family: PTSans-Caption;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    margin-right: 70px;
    flex-basis: 300px;
    min-width: 300px;
  }

  &_menu {
    flex: 1 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &-header {
    font-family: Futura-Medium;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, .3);
    letter-spacing: 2.29px;
    margin: 0 0 16px 0;
    padding: 0;

    & > a {
      color: rgba(255, 255, 255, .3);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &_item {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }
  }

  &_link {
    font-family: Futura-Medium;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .3);
    border-bottom: 0;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 60px;
}

.rocket-up {
  right: 60px;
  bottom: 60px;
  position: fixed;
  z-index: 1024;
  opacity: 1;
  transition: all .3s ease;

  &_box {
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #D91AA2;
    width: 60px;
    height: 60px;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      background-color: darken(#D91AA2, 15%);
    }
  }
}
