<footer class="footer">
  <!-- begin .footer_wrap -->
  <div class="footer_wrap">
    <!-- begin .footer-company -->
    <div class="footer-company">
      <!-- begin .footer-company_about -->
      <div class="footer-company_about">
        <p>ICOholder is a platform that was established to provide its users reliable information about the best Initial Coin Offering projects and help ICOs attract more investors.</p>
      </div>
      <!-- end .footer-company_about -->
      <!-- begin .footer-company_menu -->
      <div class="footer-company_menu">
        <!-- begin .footer-menu_box -->
        <div class="footer-menu_box">
          <h4 class="footer-menu-header"><a href="#">About</a></h4>
          <ul class="footer-menu">
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Tracker</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Agency</a></li>
          </ul>
        </div>
        <!-- end .footer-menu_box -->
        <!-- begin .footer-menu_box -->
        <div class="footer-menu_box">
          <h4 class="footer-menu-header"><a href="#">Experience</a></h4>
          <ul class="footer-menu">
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Tracker</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Agency</a></li>
          </ul>
        </div>
        <!-- end .footer-menu_box -->
        <!-- begin .footer-menu_box -->
        <div class="footer-menu_box">
          <h4 class="footer-menu-header"><a href="#">Services</a></h4>
          <ul class="footer-menu">
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">10 Reliable Advisors</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Bitcointalk Management</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Bounty Services</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Additional Trackers</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Telegram Support</a></li>
            <li class="footer-menu_item"><a href="#" class="footer-menu_link">Investor relations</a></li>
          </ul>
        </div>
        <!-- end .footer-menu_box -->
        <!-- begin .footer-menu_box -->
        <div class="footer-menu_box">
          <h4 class="footer-menu-header"><a href="#">Clients</a></h4>
        </div>
        <!-- end .footer-menu_box -->
        <!-- begin .footer-menu_box -->
        <div class="footer-menu_box">
          <h4 class="footer-menu-header"><a href="#">Contact Us</a></h4>
        </div>
        <!-- end .footer-menu_box -->
      </div>
      <!-- end .footer-company_menu -->
    </div>
    <!-- end .footer-company -->
    <!-- begin .footer-copyright -->
    <div class="footer-copyright">

    </div>
    <!-- end .footer-copyright -->
  </div>
  <!-- end .footer_wrap -->
</footer>

{#
  <script src="assets/scripts/jquery-3.3.1.min.js"></script>
  <script src="assets/scripts/scripts.js"></script>
#}
