.footer {
  padding: 20px 0;
  background-color: #11111B;
  color: rgba(255, 255, 255, .3);
  position: relative;
  overflow: hidden;

  @media #{$lg} {
    padding: 60px 90px 40px 90px;
  }

  &_wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media #{$lg} {
      max-width: 1180px;
      padding: 0;
    }
  }

  &_bg,
  &_logo {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  &_logo {
    bottom: 34px;

    svg { margin-right: 5px; }
  }

  &-public {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: right;
    justify-content: flex-end;

    p {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.footer-company {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  flex-direction: column;

  @media #{$lg} {
    flex-direction: row;
  }

  &_about {
    font-family: 'PTSans-Caption';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;

    @media #{$lg} {
      margin-right: 70px;
      flex-basis: 300px;
      min-width: 300px;
    }
  }

  &_menu {
    flex: 1 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media #{$lg} {
      flex-wrap: nowrap;
    }


  }
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &-header {
    font-family: Futura-Medium;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, .3);
    letter-spacing: 2.29px;
    margin: 0 0 16px 0;
    padding: 0;

    & > a {
      color: rgba(255, 255, 255, .3);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &_item {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }
  }

  &_link {
    font-family: Futura-Medium;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .3);
    border-bottom: 0;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  &_box {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 30px;

    &:last-child { margin-bottom: 0; }

    @media #{$lg} {
      font-weight: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 140px;
  position: relative;
  z-index: 2;

  @media #{$lg} {
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.floating-controls {
  position: fixed;
  right: 0;
  bottom: 100px;
  width: auto;
  background-color: transparent;
  display: flex;
  z-index: 1024;
  transition: all .3s ease;
}

.rocket-up {
  opacity: 1;
  cursor: pointer;

  &_box {
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #D91AA2;
    width: 60px;
    height: 60px;
    transition: all .3s ease;

    &:hover {
      background-color: darken(#D91AA2, 15%);
    }
  }
}

.contact-up {
  opacity: 1;
  margin-right: 20px;
  cursor: pointer;

  &_box {
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: all .3s ease;
    background: #00B96E;
    box-shadow: 0 2px 10px 0 rgba(0, 185, 110, .57);
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &-box {
    position: relative;
  }

  &_item {
    vertical-align: middle;
    margin-right: 7px;

    &:last-child { margin-right: 0; }
  }

  &_link {
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    text-align: center;
    transition: all .3s ease;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    border-bottom: 0;

    @media #{$lg} {
      opacity: .65;

      &:hover { opacity: 1; }

      span { transition: all .2s ease; }
    }

    &--facebook {
      background-color: #ffffff;

      span {
        display: inline-block;
        @include size(8px, 16px);
        background-image: svg-load('social/fb.svg', fill=#11111B);
      }

      &:hover {
        background-color: #3b5998;

        span { background-image: svg-load('social/fb.svg', fill=#ffffff); }
      }
    }

    &--twitter {
      background-color: #ffffff;

      span {
        display: inline-block;
        @include size(16px, 13px);
        background-image: svg-load('social/twi.svg', fill=#11111B);
        position: relative;
        top: 1px;
        left: 1px;
      }

      &:hover {
        background-color: #00aced;

        span { background-image: svg-load('social/twi.svg', fill=#ffffff); }
      }
    }

    &--telegram {
      background-color: #ffffff;

      span {
        display: inline-block;
        @include size(16px);
        background-image: svg-load('social/telegram.svg', fill=#11111B);
        position: relative;
        top: 1px;
        left: -1px;
      }

      &:hover {
        background-color: #0088cc;

        span { background-image: svg-load('social/telegram.svg', fill=#ffffff); }
      }
    }
  }
}
