<!-- begin .contact -->
<section class="contact">
  <!-- begin .contact_wrap -->
  <div class="contact_wrap">
    <!-- begin .contact-header -->
    <div class="contact-header">
      <h2><span class="text-pink">Let’s</span> work <span class="text-pink">together.</span></h2>
      <p class="header-description">Describe your project or just leave contact information,
and we will contact with You</p>
    </div>
    <!-- end .contact-header -->
    <!-- begin .contact-form -->
    <div class="contact-form">
      <!-- begin .contact-form_wrap -->
      <div class="contact-form_wrap">
        <!-- begin .contact-form_col -->
        <div class="contact-form_col">
          <!-- begin .form-group -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email addres" value="Dornie.hoffman@gmail.com ">
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <input type="tel" class="form-control" placeholder="Phone">
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Telegram / Skype">
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .contact-form_col -->
        <!-- begin .contact-form_col -->
        <div class="contact-form_col">
          <textarea name="name" rows="8" cols="80" class="form-control" placeholder="Your message"></textarea>
        </div>
        <!-- end .contact-form_col -->
      </div>
      <!-- end .contact-form_wrap -->
      <!-- begin .form-actions -->
      <div class="form-actions to-right">
        <button class="button button-green">Send Message</button>
      </div>
      <!-- end .form-actions -->
    </div>
    <!-- end .contact-form -->
  </div>
  <!-- end .contact_wrap -->
</section>
<!-- end .contact -->
