<!-- begin .contact -->
<section
  id="contact"
  class="contact emerge"
  data-expose="true"
>
  <!-- begin .contact_wrap -->
  <div class="contact_wrap">

    <!-- begin .headline -->
    <div class="headline">
      <!-- begin .headline_title -->
      <div class="headline_title">
        <h2><span class="text-pink">Let’s</span> work <span class="text-pink">together.</span></h2>
      </div>
      <!-- end .headline_title -->
      <!-- begin .headline_description -->
      <div class="headline_description">
        <p>Describe your project or just leave contact information, and we will contact with You</p>
      </div>
      <!-- end .headline_description -->
    </div>
    <!-- end .headline -->
    <!-- begin .contact-form -->
    <form class="contact-form _contact-form">
      <!-- begin .contact-form_wrap -->
      <div class="contact-form_wrap">
        <!-- begin .contact-form_col -->
        <div class="contact-form_col">
          <!-- begin .form-group -->
          <div class="form-group">
            <label for="name" class="form-label">Your Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Your Name"
            >
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <label for="email" class="form-label show">Email addres</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email addres"
              value="Dornie.hoffman@gmail.com"
            >
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group is-invalid">
            <label for="phone" class="form-label">Phone</label>
            <input
              type="tel"
              name="phone"
              id="phone"
              class="form-control"
              placeholder="Phone"
            >
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <label for="messenger" class="form-label">Telegram / Skype</label>
            <input
              type="text"
              name="messenger"
              id="messenger"
              class="form-control"
              placeholder="Telegram / Skype"
            >
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .contact-form_col -->
        <!-- begin .contact-form_col -->
        <div class="contact-form_col">
          <!-- begin .form-group -->
          <div class="form-group">
            <!-- begin .form-service-list -->
            <div class="form-service-list">
              <!-- begin .form-service -->
              <div class="form-service">
                <!-- begin .form-service_name -->
                <div class="form-service_name">Bitcointalk Management</div>
                <!-- end .form-service_name -->
                <!-- begin .form-service_remove -->
                <div class="form-service_remove"><svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.5 1.5l24 24M2 26L26 2"/></g></svg></div>
                <!-- end .form-service_remove -->
              </div>
              <!-- end .form-service -->
              <!-- begin .form-service-add -->
              <div class="form-service form-service-add">
                <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1 18h33.941M18 34.941V1"/></g></svg>
              </div>
              <!-- end .form-service-add -->
              <!-- begin .form-service-add -->
              <div class="form-service form-service-add">
                <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1 18h33.941M18 34.941V1"/></g></svg>
              </div>
              <!-- end .form-service-add -->
            </div>
            <!-- end .form-service-list -->
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <label for="message" class="form-label">Your message</label>
            <textarea
              name="message"
              id="message"
              rows="8"
              cols="80"
              class="form-control contact-form-message"
              placeholder="Your message"
            ></textarea>
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .contact-form_col -->
      </div>
      <!-- end .contact-form_wrap -->
      <!-- begin .form-actions -->
      <div class="form-actions">
        <!-- begin .form-actions-status -->
        <div class="form-actions-status">
          <span>you request has been sent...</span>
        </div>
        <!-- end .form-actions-status -->
        <button class="button button-green">Send Message</button>
      </div>
      <!-- end .form-actions -->
    </form>
    <!-- end .contact-form -->
  </div>
  <!-- end .contact_wrap -->
</section>
<!-- end .contact -->
