.itworks {
  background-color: #fff;
  border-top: 1px solid #11111B;
  padding-top: 50px;
  // padding-bottom: 30px;
  overflow: hidden;

  @media #{$lg} {
    padding-top: 150px;
    // padding-bottom: 80px;
  }

  &_wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media #{$lg} {
      max-width: 1120px;
      padding: 0;
    }
  }

  .headline {
    max-width: 100%;

    @media #{$lg} {
      // padding-bottom: 100px;
      max-width: 100%;
    }

    &:before {
      content: 'It Works.';
    }
  }

  &_row {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;

    &-light {

      @at-root .itworks_row-light .itworks_row {

      }
    }

    &-dark {
      height: 944px;
      padding: 62px 0;
      margin-top: 80px;
      margin-bottom: 80px;

      @at-root .itworks_row-dark .itworks_row {

        &-decorate {
          background: #11111B;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          background-attachment: scroll;
          background-position: 0% 0%;
          background-repeat: no-repeat;
          background-size: cover;
          // opacity: 0.25;
          width: 1070px;
          height: 940px;
        }

        &_bubble {
          // height: 100%;
          width: 100%;
          position: relative;
          z-index: 10;
          background: #FFFFFF;
          box-shadow: 0 9px 19px 0 rgba(0, 0, 0, .07);
          margin-left: 45%;
          border-radius: 10px 0 0 10px;
        }
      }
    }
  }

  &-bubble {
    padding: 150px 180px 150px 125px;

    &_headline {
      display: flex;
      align-items: center;
      align-content: center;
      margin-bottom: 10px;
      font-family: 'Futura-Medium';

      @media #{$lg} {
        margin-bottom: 30px;
      }

      &-icon {
        margin-right: 31px;
      }

      &-title {
        font-size: 22px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 35px;

        @media #{$lg} {
          max-width: 295px;
        }

        h3 {
          margin: 0;
          padding: 0;
          font-size: 22px;
          color: #000000;
          letter-spacing: 0;
          line-height: 35px;
        }
      }
    }

    &_description {
      opacity: .7;
      font-family: 'Futura-Medium';
      font-size: 18px;
      color: #9FA8B0;
      letter-spacing: 0;
      text-align: justify;
      line-height: 30px;

      @media #{$lg} {
        max-width: 540px;
      }

      p {
        font-size: 18px;
        color: #9FA8B0;
        letter-spacing: 0;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 30px;

        &:last-child { margin-bottom: 0; }
      }
    }
  }
}

.dotmap {
  position: relative;

  &-points {
    position: absolute;
    top: 130px;
    right: 0;
  }
}
