<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
{% include "components/menu/menu.html" %}

<header class="header">
  <!-- begin .header_circle -->
  <div class="header_circle">
    <!-- begin .header-cover --><div class="header-cover" style="background-image: url('assets/images/main-bg.png');"></div><!-- end .header-cover -->
    <!-- begin .header_wrap -->
    <div class="header_wrap">
      <h1><span class="text-pink">Successful</span> ICO campaign.</h1>
      <p class="header-description">With the platform for the next generation of technology companies</p>
      <!-- begin .actions-box -->
      <div class="actions-box">
        <a href="#" class="button button-pink">Run Your Sale</a>
      </div>
      <!-- end .actions-box -->
    </div>
    <!-- end .header_wrap -->
    <!-- begin .header_scroll -->
    <div class="header_scroll">
      <!-- begin .scroll-mouse -->
      <div class="header_scroll-mouse">
        <svg width="20" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M10 0C4.486 0 0 4.424 0 9.862v9.877C0 25.176 4.486 29.6 10 29.6s10-4.424 10-9.861V9.862C20 4.424 15.514 0 10 0zm8.889 19.739c0 4.833-3.988 8.765-8.889 8.765s-8.889-3.932-8.889-8.765V9.862C1.111 5.029 5.1 1.096 10 1.096s8.889 3.933 8.889 8.766v9.877z" fill="#FFF" fill-rule="nonzero"/></svg>
        <!-- begin .header_scroll-mouse_wheel -->
        <div class="header_scroll-mouse_wheel"></div>
        <!-- end .header_scroll-mouse_wheel -->
      </div>
      <!-- end .scroll-mouse -->
      <!-- begin .scroll-help -->
      <div class="header_scroll-help">
        <span>Scroll Down</span>
      </div>
      <!-- end .scroll-help -->
    </div>
    <!-- end .header_scroll -->
  </div>
  <!-- end .header_circle -->
</header>
