{# <!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
--> #}
{% include "components/menu/menu.html" %}

<header class="header">
  <!-- begin .header-cover --><div class="header-cover emerge" data-spin="true" style="background-image: url('assets/images/roadshow-bg.png');"></div><!-- end .header-cover -->
  <!-- begin .header_wrap -->
  <div class="header_wrap">
    <div
      class="emerge"
      data-effect="relax"
      data-origin="bottom"
      data-hold="109"
    >
      <h1>
        <span class="teaser text-pink">Successful</span>
        <span class="text-mutation _text-mutation">ICO RoadShow</span>
      </h1>
      <p class="header-description">When you need to show your project to as many people and investors as possible, starting from ICOHOLDER. Raise Money in the ICO roadshow with our team and be simultaneously in several places only at the right time in the right place</p>
    </div>

    <!-- begin .actions-box -->
    <div
      class="actions-box emerge"
      data-effect="slide"
      data-right="20cm"
      data-hold="187"
    >
      <a href="#contact" class="button button-pink _go-to">Begin RoadShow</a>
    </div>
    <!-- end .actions-box -->
  </div>
  <!-- end .header_wrap -->
  <div
    class="emerge"
    data-effect="screw"
    data-hold="392"
  >
  <!-- begin .header_scroll -->
  <div class="header_scroll">
    <!-- begin .scroll-mouse -->
    <div class="header_scroll-mouse">
      <svg width="20" height="30" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M10 0C4.486 0 0 4.424 0 9.862v9.877C0 25.176 4.486 29.6 10 29.6s10-4.424 10-9.861V9.862C20 4.424 15.514 0 10 0zm8.889 19.739c0 4.833-3.988 8.765-8.889 8.765s-8.889-3.932-8.889-8.765V9.862C1.111 5.029 5.1 1.096 10 1.096s8.889 3.933 8.889 8.766v9.877z"/><path d="M10 3.2c-.22 0-.4.259-.4.579V9.02c0 .32.18.579.4.579.22 0 .4-.259.4-.579V3.78c0-.32-.18-.579-.4-.579z" stroke="#FFF"/></g></svg>
    </div>
    <!-- end .scroll-mouse -->
    <!-- begin .scroll-help -->
    <div class="header_scroll-help">
      <span>Scroll Down</span>
    </div>
    <!-- end .scroll-help -->
  </div>
  <!-- end .header_scroll -->
  </div>
</header>
