<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
{% include "components/menu/menu.html" %}

<header class="header">
  <!-- begin .header-cover --><div class="header-cover" style="background-image: url('assets/images/main-bg.png');"></div><!-- end .header-cover -->
  <!-- begin .header_wrap -->
  <div class="header_wrap">
    <h1><span class="text-pink">Successful</span> ICO campaign.</h1>
    <p class="header-description">With the platform for the next generation of technology companies</p>
    <!-- begin .actions-box -->
    <div class="actions-box">
      <a href="#" class="button button-pink">Run Your Sale</a>
    </div>
    <!-- end .actions-box -->
  </div>
  <!-- end .header_wrap -->
</header>
