.top-menu {
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;

  &_wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  &_aside {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.logo-link {
  border-bottom: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}
