<!-- begin .menu -->
<nav class="top-menu">
  <!-- begin .top-menu_wrap -->
  <div class="top-menu_wrap">
    <!-- begin .top-menu_base -->
    <div class="top-menu_base">
      <!-- begin .logo -->
      <div class="logo"></div>
      <!-- end .logo -->
    </div>
    <!-- end .top-menu_base -->
    <!-- begin .top-menu_aside -->
    <div class="top-menu_aside">
      <!-- begin .menu menu-vertical -->
      <ul class="menu menu-vertical">
        <!-- begin .menu_item -->
        <li class="menu_item">
          <a href="#" class="menu_link">About</a>
        </li>
        <!-- end .menu_item -->
      </ul>
      <!-- end .menu menu-vertical -->
      <!-- begin .language -->
      <div class="language">
        language
      </div>
      <!-- end .language -->
      <!-- begin .action -->
      <div class="action">
        <a href="#" class="button button-outline">Let’s Talk</a>
      </div>
      <!-- end .action -->
    </div>
    <!-- end .top-menu_aside -->
  </div>
  <!-- end .top-menu_wrap -->
</nav>
<!-- end .top-menu -->
