.top-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  transition: all .3s ease;
  background-color: rgba(12, 13, 18, .45);

  @media #{$lg} {
    padding-top: 65px;
    padding-bottom: 5px;
    background-color: transparent;

    &.is-scroll {
      z-index: 100;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &.is-scroll {
    background-color: rgba(12, 13, 18, .85);
  }

  &_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 15px;

    @media #{$lg} {
      padding: 0;
      max-width: 1120px;
    }

    .menu {
      display: none;
    }
  }

  &_aside {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .logo svg {
    width: 135px;
    height: auto;
  }

  @media #{$lg} {

    .logo svg {
      width: auto;
    }
  }

  .action {

    .button {
      padding: 14px 38px 14px 38px;
    }

    @media #{$lg} {
      padding: 20px 42px 19px 42px;
    }
  }
}

.logo-link { border-bottom: 0; }

.language { margin-right: 50px; }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;

  &-vertical {
    flex-direction: column;
  }

  &-nested {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, .15);
    margin-top: 5px;
    padding: 5px 10px;
    margin: 5px -10px 0 -10px;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    .menu_item {
      margin-right: 0;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &_item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      .menu_link {
        opacity: 1;
        color: #ffffff;
      }
    }
  }

  &_link {
    opacity: .4;
    font-family: 'Futura-Medium';
    font-size: 16px;
    line-height: 16px;
    padding: 30px 0;
    color: #ffffff;
    letter-spacing: 2.29px;
    text-align: left;
    border-bottom: 0;

    &:hover {
      opacity: 1;
      color: #ffffff;
    }

    &-arrow {
      position: relative;
      padding-right: 14px;

      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: calc( 50% + 2px );
        transform: translateY(-50%);
        @include size(11px, 7px);
        background-image: svg-load('arrow-bottom.svg');
      }
    }

    &.is-open {
      opacity: 1;
      color: #ffffff;
    }
  }
}
