<!-- begin .experience -->
<div class="experience">
  <!-- begin .experience_wrap -->
  <div class="experience_wrap">

    <!-- begin .headline -->
    <div class="headline headline-dark">
      <!-- begin .headline_title -->
      <div class="headline_title">
        <h2>Experience<span class="text-pink">.</span></h2>
      </div>
      <!-- end .headline_title -->
      <!-- begin .headline_description -->
      <div class="headline_description">
        <p>In usage of digital technologies</p>
      </div>
      <!-- end .headline_description -->
    </div>
    <!-- end .headline -->

    <!-- begin .experience_action -->
    <div class="experience_action">
      <a href="" class="button button-outline button-with-icon">
        <span class="button_text">Read More</span>
        <span class="button_icon">
          <svg width="5" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 7l3-3.07L1.137 1" stroke="currentColor" stroke-width="1.4" fill="none" fill-rule="evenodd"/></svg>
        </span>
      </a>
    </div>
    <!-- end .experience_action -->

  </div>
  <!-- end .experience_wrap -->
</div>
<!-- end .experience -->
